body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 100%;
}

#title {
  background-color: #30bbca;
  top: 0;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 25pt;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 0.8px 0.8px 0.8px black;
}


#home {
  font-size: 20pt;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}



.inputTxt {
  width: 28rem !important;
  height: 15rem;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  border-radius: 15px;
}

.inputTxt:focus {
  border-color: #007bff;
}

#btnInvia {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==============================================================  UTENTI  =============================================================== */
#utenti {
  padding-top: 20px;
  margin: 0px auto;
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  /* Aggiunto */
  justify-content: center;
  align-items: center;
  /* margin-top: 140px; */
  text-align: center;
  font-size: 20pt;
  height: auto;
}

audio {
  z-index: 1;
}

#title {
  z-index: 2;
}

.paziente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.paziente:hover {
  border-color: #007bff;
  scale: 1.035;

}

.nomePaz {
  width: 100%;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.nomePazN {
  width: 100%;
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.dataPaz {
  width: 100%;
  font-size: 12pt;
  color: #6e6e6e;
  margin-bottom: 10px;
}

.diagnosiPaz {
  width: 100%;
  font-size: 13pt;
  color: #6e6e6e;
  margin-bottom: 10px;
}

.aggiungiPaz {
  width: 50px;
  margin: 0px auto;
  background-color: #30bbca;
  color: white !important;
  font-size: 30pt !important;
  border: none;
  padding: 15px 25px;
  height: 70%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.aggiungiPaz:hover {
  opacity: 0.8;
  scale: 1.05;
}

.divAgg {
  padding: 10px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  text-align: center;
  width: 200px;
}

.black {
  color: black !important;
}

.gray {
  color: #7b7a7a !important;
}



/* ============================================================== FORM PAZIENTI  =============================================================== */
#formPaz {
  margin: 0px auto;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  /* Aggiunto */
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  text-align: center;
  border: 1px solid #ccc;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.inputPaz {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 12pt;
  transition: 0.3s;
  color: #7b7a7a;
}

.inputPaz:hover {
  border-color: #4A90E2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.inputPaz:focus {
  border-color: #4A90E2 !important;
  outline: none;
}

.btnSalva {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #30bbca;
  color: white;
  border: 2px solid #30bbca;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 0.5px 0.5px 0.5px black;
  transition: all 0.6s ease;
}

.btnSalva:hover {
  text-shadow: none;
  scale: 1.01;
  color: #30bbca;
  background-color: white;
  border: 2px solid #30bbca;
}

.noInfo {
  width: 100%;
  margin-bottom: 15px;
  font-size: 15pt;
  color: red;
}

.closeButton {
  height: 40px;
  text-align: right;
  color: black;
  border: none;
  font-size: 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  margin-left: 100%;
}

.closeButton:hover {
  opacity: 0.7;
  color: red;
  animation: rotateAnimation 0.2s linear;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
    /* Rotazione iniziale (0 gradi) */
  }

  100% {
    transform: rotate(180deg);
    /* Rotazione finale (360 gradi) */
  }
}






/* ==============================================================  TABLE  =============================================================== */
#utente {
  /* margin-top: 140px; */
}

#closePazTab {
  color: black;
  font-size: 25pt;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto !important;
  animation: none;
  margin-top: 75px;
}

.fa-xmark:hover {
  color: red;
  scale: 1.1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0px auto;
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 16pt;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

th td {
  padding-left: 15px !important;
  max-width: 300px;
  word-wrap: break-word;
}

thead>tr {
  text-align: center;
  text-shadow: 0.8px 0.8px 0.8px black;
  background-color: rgb(64, 64, 255);
  color: white;
  font-size: 17pt;
  font-weight: 300;
}

th {
  padding: 20px 12px;
}

td {
  padding: 15px 8px;
  border: 1px solid #ccc;
}

tbody>tr {
  text-align: center;
  transition: all 0.4s;
}

.colored {
  background-color: #edf8ff !important;
}

tbody>tr:hover {
  background-color: #edf8ff !important;
}

.fa-pen-to-square {
  color: black;
  font-size: 16pt;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.fa-pen-to-square:hover {
  color: gray;
}

.fa-trash {
  color: black;
  font-size: 16pt;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;

}

.fa-trash:hover {
  color: red;
}

.fa-solid {
  transition: all 0.3s;
}

.fa-solid:hover {
  scale: 1.02;
}








/* =========================================== POPUP CONFERMA ============================= */
.popup-hidden {
  display: none;
}

.popup-visible {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
}

#popup button {
  background-color: #4CAF50;
  /* colore di sfondo verde */
  border: none;
  color: white;
  /* colore del testo bianco */
  padding: 15px 32px;
  /* spaziatura intorno al testo */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  /* durata dell'effetto di transizione */
  border-radius: 10px;
}

#cancel {
  background-color: white !important;
  color: black !important;
  /* colore del testo nero */
  border: 1px solid #ccc !important;
  /* bordo grigio */
}

#cancel:hover {
  background-color: #949494;
  scale: 1.05;
}

#confirm {
  background-color: #008CBA !important;
  /* colore di sfondo blu */
}

#confirm:hover {
  background-color: #007B9A !important;
  /* cambia colore di sfondo quando il mouse è sopra */
  scale: 1.05;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* nero semi-trasparente */
  z-index: 999;
  /* assicurati che sia sotto il popup */
}

.overlay-hidden {
  display: none;
}

.overlay-visible {
  display: block;
}


/* =================================================== SCHEDA USER ========================================= */

#schedaUtente {
  width: 70%;
  margin: 0px auto;
  /* margin-top: 140px; */
}

#schedaNome {
  font-size: 35pt;
  margin-bottom: 20px;
}
#schedaNomeN {
  font-size: 35pt;
  margin-bottom: 20px;
}

.divScheda {
  font-size: 15pt;
  margin-bottom: 10px;
  padding: 20px;
  color: #555555;
}

#eliminaPaziente {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  border: 2px solid red;
  margin-bottom: 30px;
}

#eliminaPaziente:hover {
  scale: 1.02;
  background-color: white;
  color: red;
}

#btnEsciScheda {
  background-color: #30bbca;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.6s ease;
  border: 2px solid #30bbca;
}

#btnEsciScheda:hover {
  scale: 1.02;
  background-color: white;
  color: #30bbca;
}

.spanUtente {
  border: 20px;
  border-bottom: 2px solid #30bbca82;
}

.spanUtente>h3 {
  width: auto;
}

#popUpDel {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#popOptDel {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 275px;
}

#annullaOptDel {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 2px solid red;
}

#annullaOptDel:hover {
  scale: 1.02;
  background-color: white;
  color: red;
}

#confermaOptDel {
  background-color: #30bbca;
  color: white;
  border: none;
  padding: 12px 22px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 2px solid #30bbca;
}

#confermaOptDel:hover {
  scale: 1.02;
  background-color: white;
  color: #30bbca;
}


#divMesi {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  gap: 1rem;
  flex-wrap: wrap;
}

.mese {
  width: auto;
  padding: 10px;
  border: 1px solid #30bbca;
  border-radius: 15px;
  transition: all 0.3s;
}

.mese:hover {
  background-color: #e7e7e7;
  border: 1px solid #2c919c;
  scale: 1.01;


}


#trascrizioniMesi {
  width: 100% !important;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.frasiMese {
  width: 100% !important;
  display: flex;

}

.frase1 {
  width: 50% !important;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.frase2 {
  width: 50% !important;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #b1b1b1;
}

#meseTrasc {
  text-align: center;
  font-size: 25pt;
  font-weight: bold;
}


.form-container {
  margin: 0px auto;
  width: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  height: auto;
  box-shadow: 0px 2px 5px 0px #d2d2d2;
}

.component-header {
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #e9e9e9;
  padding: 5px;
  border-radius: 3px;
}

.form-row {
  margin-bottom: 10px;
}

.form-row2 {
  margin-bottom: 10px;
  border-left: 2px solid #d8d7d7;
  padding-left: 10px;
}

.form-row2 label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 500;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

.form-row input[type="radio"] {
  /* /* margin-right: 1px; */
  margin-left: 15px;
}

@media screen and (max-width: 600px) {

  .form-row input[type="radio"],
  .form-row span {
    display: block;
    margin-bottom: 5px;
  }
}

.corretto {
  color: rgb(151, 252, 0);
  font-weight: bold;
}

.attenzione {
  color: rgb(255, 220, 47);
  font-weight: bold;
}

.critico {
  color: rgb(255, 101, 12);
  font-weight: bold;
}


.posizione {
  font-size: 20pt;
  font-weight: bold;
}

#myChart {
  margin-top: 30px;
}

#generate-pdf {
  margin: 0px auto !important;
  padding: 10px;
  font-size: 15pt;
  border-radius: 10px;
  margin-top: 25px !important;
  transition: all 0.3s;

  &:hover {
    scale: 1.02;
    cursor: pointer;
  }
}

#divCharMesi {
  margin-top: 30px;

}

.slcBox {
  font-size: 16px;
  /* Dimensione del testo */
  padding: 10px 20px;
  /* Spaziatura interna */
  border-radius: 20px;
  /* Bordi arrotondati */
  border: 2px solid #007BFF;
  /* Colore del bordo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Ombra leggera */
  background-color: white;
  /* Colore di sfondo */
  cursor: pointer;
  /* Cambia il cursore in una mano per indicare che è cliccabile */
  outline: none;
  /* Rimuove il contorno quando è selezionato */
  transition: all 0.3s ease;
  /* Transizione fluida per hover e focus */
}

#searcBox {
  text-align: center;
  width: 100%;
  font-size: 28px;
  margin-bottom: 15px;
}

#cercaPazienti {
  width: 300px;
  padding: 12px 15px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  background-color: #e6e6e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #ccc;
}

#cercaPazienti:hover,
#cercaPazienti:focus {
  background-color: #e0e0e0;
}

#cercaPazienti::placeholder {
  color: #999;
}

#cercaPazienti:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slcBox:hover,
.slcBox:focus {
  border-color: #0056b3;
  /* Cambia il colore del bordo quando si passa sopra o si seleziona */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  /* Ombra più pronunciata per hover e focus */
}

#btnScheda {
  padding: 10px;
  font-size: 13pt;
  border-radius: 10px;
  transition: all 0.3s;

  &:hover {
    scale: 1.02;
    cursor: pointer;
  }
}

/* Stile base per il checkbox */
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
  margin-top: -4px;
}

/* Quando il checkbox è selezionato */
input[type="checkbox"]:checked {
  background-color: #5dba70;
  border-color: #479860;
}

/* Aggiungi una transizione per un effetto morbido al cambio */
input[type="checkbox"] {
  transition: background-color 0.3s, border-color 0.3s;
}

.containerChk {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 15pt;
  margin-bottom: 10px;
}



/* TASTIERA */
#tastiera {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  
}
.divTasti{
  width: 33% !important;
}
#tasti{
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 1.5rem;
}

.tasto{
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17pt;
  font-weight: bold;
  
  &:hover{
    background-color: #e7e7e7;
    cursor: pointer;
  }
}


.mesiSel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 1rem;
  max-width: 900px;
  flex-wrap: wrap;
}

.mesiSelezionabili{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #cccccc;
  transition: all 0.3s;
  &:hover{
    background-color: #efefef;
    cursor: pointer;
    border: 1px solid #2f9ad8;
    scale: 1.01;
  }
}
.meseSelezionato{
  background-color: #2f9ad8;
  color: white;
  border: 1px solid #2f9ad8;
  &:hover{
    background-color: #2f9ad8;
    color: white;
    border: 1px solid #2f9ad8;
  }
}
.bottoneConfermaMesi{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #43baff;
  background-color: #43baff;
  color: white;
  transition: all 0.3s;
  font-size: 16pt;
  &:hover{
    background-color: white;
    color: #43baff;
    border: 1px solid #43baff;
  }
}


/* ===========================================  ANIMAZIONE INIZIALE  =========================================== */
 .animation-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  position: absolute;
  animation: fadeOut 0.8s ease-in-out 2.2s forwards;
}

.wave {
  width: 8px;
  height: 60px;
  background-color: #1E90FF; 
  animation: waveAnimation 2s ease-in-out infinite;
}

.wave:nth-child(1) {
  animation-delay: 0.1s;
  background-color: #1C86EE;
}

.wave:nth-child(2) {
  animation-delay: 0.2s;
  background-color: #1A7EED;
}

.wave:nth-child(3) {
  animation-delay: 0.3s;
  background-color: #1874CD;
}

.wave:nth-child(4) {
  animation-delay: 0.4s;
  background-color: #166ACC;
}

.wave:nth-child(5) {
  animation-delay: 0.5s;
  background-color: #145FBB;
}

.wave:nth-child(6) {
  animation-delay: 0.6s;
  background-color: #1245AA;
}

.wave:nth-child(7) {
  animation-delay: 0.7s;
  background-color: #103B99;
}

.wave:nth-child(8) {
  animation-delay: 0.8s;
  background-color: #0E3199;
}

.wave:nth-child(9) {
  animation-delay: 0.9s;
  background-color: #0C2799;
}

.wave:nth-child(10) {
  animation-delay: 1s;
  background-color: #0A1D88;
}

.wave:nth-child(11) {
  animation-delay: 1.1s;
  background-color: #081377;
}

.wave:nth-child(12) {
  animation-delay: 1.2s;
  background-color: #060966;
}

.wave:nth-child(13) {
  animation-delay: 1.3s;
  background-color: #040055;
}

.wave:nth-child(14) {
  animation-delay: 1.4s;
  background-color: #020044;
}

@keyframes waveAnimation {
  0%, 100% {
      transform: scaleY(1);
  }
  25%, 75% {
      transform: scaleY(1.5);
  }
  50% {
      transform: scaleY(2);
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s ease-in-out 3s forwards;
  margin-top: -25px;
}

.text-container h1 {
  font-size: 4em;
  color: #1E90FF;
  margin: 0;
}

.text-container h3 {
  font-size: 1.3em;
  color: #194168;
  margin: 0;
}
.text-container img {
  border-radius: 15px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
} 














