<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<ion-content [fullscreen]="true" class="homeContainer">
  <div id="header">
    <strong style="color: white; text-shadow: 1px 1px 1px black;">Trascrizione fonetica</strong>
  </div>
  <div id="divRegistra" style="display: none;">
    <button class="btn" (click)="registra()">{{ statoRec }}</button>
    &nbsp;
    @if (!micON) {
      <span class="material-symbols-outlined" id="micOFF" >
        mic_off
        </span>
    }
    @if (micON) {
      <span class="material-symbols-outlined" id="micON">
        mic
        </span>
    }
    
  </div>
  <div id="divScrittura">
    <div style="margin-bottom: 20px;">
      Inserire la frase da trascrivere:
    </div>
    <div>
      <input type="text" [(ngModel)]="trascrizione" > &nbsp; <button id="btnInvia" (click)="trascrivi()">Trascrivi</button>
    </div>
  </div>
  <div id="divTrascrizione">
    <label type="text" id="lbltrascrizione" >{{trascritto}}</label>
  </div>

</ion-content>