.homeContainer{
  color: black;
}
#header{
  margin: 25px 0;
  text-align: center;
  font-size: 30pt;
}
strong{
  color: black;
}
.btn{
  width: 18%;
  height: 50px;
  font-size: 20pt;
  background-color: #f2f2f2;
  color: black;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 40px;
}
.btn:hover{
  animation: animButtonHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes animButtonHover {
  0%{
    background-color: #f2f2f2;
  transform: scale(1.0);
  }
  100%{
    background-color: #bdbdbd;
    transform: scale(1.02);
  }
}
.btn:not(:hover){
  animation: animButtonNotHover;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes animButtonNotHover {
  100%{
    background-color: #f2f2f2;
  transform: scale(1.0);
  }
  0%{
    background-color: #bdbdbd;
    transform: scale(1.02);
  }
}
#divRegistra{
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-size: 35pt;
}
#micOFF{
  color: red;
}
#micON{
  color: green;
}
